.section{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.Home{
    padding-top: 8%;
}
  
.Home > h1{
    text-align: center;
}

  
.word {
    display: flex;
}
  
.space-between {
    display: inline-block;
    width: 20px; 
}

.fa-angle-up{
    width: 50px;
    height: 40px;
}


.container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.lime.top_div {
  width: 600px;
}

.lime.text_div {
  width: 300px;            
  text-align: center;
  text-decoration: underline;
}

.shap-plot svg {
    width: 500px !important;
    height: auto !important;
}




  